{% extends 'navbar.html'%}{% load static %}
    {%block content%}
    <h1 class="team_name">Leadership Teams</h1>
    <p class="team-desc">Click to view the responsibilities of the teams.</p>
    <ol>
      <li class="link">
        <a href='{% url "team-view" team="management" %}'>Management</a>
      </li>
      <li class="link">
        <a href='{% url "team-view" team="procurement" %}'>Procurement</a>
      </li>
      <li class="link">
        <a href='{% url "team-view" team="documentation" %}'>Documentation</a>
      </li>
      <li class="link">
        <a href='{% url "team-view" team="community" %}'>Community</a>
      </li>
    </ol>
    {%endblock content%}